

body {
    font-family: 'Montserrat', sans-serif;
}

@import url('libs/_bootstrap-grid.scss');
@import url('libs/_bootstrap-reboot.scss');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
p,ul,ol,h1,h2,h3,h4,h5,h6,address {
    margin: 0;
    padding: 0;
}
@import url('blocks/_header.scss');


@keyframes animatebutton {
    0% {
        left: 0%;
    }
    15% {
        left: 110%;
    }

    100% {
        left: 110%;
    }
}

//mixins
@mixin button {
    margin: 0;
    padding: 0;
    background-color: #e82525;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 10px 30px -10px #e82525;
    border-bottom: 1px solid rgba(0,0,0,0.3) ;
    border-top: 1px solid rgba(255,255,255,0.3);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }


//MODALS
.consult-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.8);
    z-index: 30;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transition: 0.3s all;
    .dialog {
        width: 560px;
        height: 564px;
        padding: 40px 45px;
        background-color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        &__title {
            font-size: 36px;
            line-height: 46px;
            font-weight: 400;
            margin-bottom: 15px;
        }
        &__subtitle {
            font-weight: 300;
            font-size: 18px;
        }
        &__form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 30px;
        }
        &__input {
            padding: 0 21px;
            font-size: 15px;
            font-weight: 400;
            height: 60px;
            margin-bottom: 10px;
            border: 1px solid #c9c9c9;
            outline: none;
            border-radius: 5px;
            &:focus {
                outline: 1px solid #e82525;
            }
        }
        &__submit {
            border:none;
            outline: none;
            @include button;
            height: 54px;
        }
        &__policy {
            font-weight: 300;
            font-size: 14px;
        }
        &__close {
            position: absolute;
            top: -40px;
            right: -50px;
            color: #fff;
            font-size: 35px;
            padding: 10px;
            cursor: pointer;
        }
    }
}


//HEADER
.header {
    background-color: #333333;
    color: #fff;
    padding-top: 15px;
    position: fixed;
    width: 100%;
    z-index: 5;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__info {
        display: flex;
        align-items: center;
        font-size: 16px;
        img {
            height: 35px;
            width: 35px;
            margin-right: 10px;
        }
        a {
            text-decoration: none;
            color: #fff;
            &:hover {
                text-decoration: underline;
            }
            font-size: 18px;
            font-weight: 700;
        }
    }
    &__logo {
        display: flex;
        align-items: center;
        font-size: 28px;
        font-weight: 700;
        img {
            width: 50px;
            margin-right: 10px;
        }
    }
    &-contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__modaltriger {
            @include button;
            padding: 0 25px;
            line-height: 32px;
            height: 34px;
            margin-right: 10px;

        }
        &__social {
            display: flex;
            align-items: center;
            a {
                margin-right: 10px;
            }
        }
    }
    &__nav {
        margin-top: 15px;
        border-top: 1px solid rgba(255,255,255, 0.1);
    }
    &__list {
        list-style-type: none;
        display: flex;
        height: 54px;
        justify-content: space-between;
        padding: 0 40px;
    }
    &__listitem {
        a {
            text-decoration: none;
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            line-height: 54px;
            text-transform: uppercase;
        }
    }
}

//OFFER
.offer{
    background: url('../img/block1_bg.jpg') center 133px/cover no-repeat;
    background-color:transparent;
    height: 875px;
    padding-top: 235px;
    color: #fff;
    &-context {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-weight: 700;
        font-size: 42px;
        margin-bottom: 50px;        
    }
    &__checklist {
        list-style-type: none;
        font-size: 20px;
        li {
            display: flex;
            align-items: flex-start;
            margin: 15px 0;
            img {
                width: 17px;
                height: 12px;
                transform:translateY(10px);
                margin-right: 10px;
            }
        }
    }
    &-form {
        width: 460px;
        height: 320px;
        background-color: #fff;
        border-radius: 10px;
        padding: 35px 40px 20px;
        display: flex;
        flex-direction: column;
        position: relative;
        &__cert {
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: -54px;
            left: 50%;
            transform: translateX(-50%);
            .first {
                margin-right: 20px;
            }
            img{
                width: 100px;
                height: 108px;

            }
        }
        &__input {
            padding: 0 21px;
            font-size: 15px;
            font-weight: 400;
            height: 50px;
            margin-bottom: 20px;
            border: 1px solid #c9c9c9;
            outline: none;
            border-radius: 5px;
            background-color: rgb(235,235,235);
            transition: 0.3s all;
            &:focus {
                outline: 1px solid #e82525;
                background-color: rgb(255,255,255);

            }
        }
        &__btn {
            border: none;
            outline: none;
            @include button;
            height: 60px;
            &::after {
                content: '';
                z-index: 5;
                display: block;
                background-color: #fff;
                position: absolute;
                width: 50px;
                height: 170px;
                transform: rotate(45deg);
                top: -40px;
                left: 0%;
                animation-name: animatebutton;
                animation-duration: 4s;
                animation-iteration-count: infinite;
                animation-timing-function: ease;
            }
        }
    }
    &-icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 95px;

        &__item {
            display: flex;
            align-items: center;
            font-size: 18px;
            font-weight: 400;
            img {
                width: 80px;
                height: 80px;
                margin-right: 20px;
            }
        }
    }

}

//TASKS
.tasks {
    padding: 80px 0;
    &__title {
        text-align: center;
        font-size: 42px;
        font-weight: 400;
        line-height: 52px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 160px;
        grid-auto-rows: 160px;
        justify-items: center;
        padding-top: 80px;
    }
    &-item {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        &__img {
            width: 54px;
            height: 54px;
            margin-bottom: 20px;
        }
        &__text {
            max-width: 360px;
            font-size: 20px;
            line-height: 32px;
            font-weight: 400;
        }
    }
}


